{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.errors }}
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mb-3">Добавить</button>
        </form>
    </div>
{% endblock content %}